<div id="vue-app">
  <div class="row">
    <div class="col-6 mb-3">
      <div v-for="city in cities" class="card mt-3">
        <div class="card-header">
          {{ city.name }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <h5 class="d-flex justify-content-start card-title">Humedad:</h5>
            </div>
            <div class="col-6">
              <p class="text-card d-flex justify-content-end">{{ city.humity }} %</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <h5 class="d-flex justify-content-start card-title">Temperatura:</h5>
            </div>
            <div class="col-6">
              <p class="text-card d-flex justify-content-end">{{ city.temp }} °C</p>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <h5 class="d-flex justify-content-start card-title">Viento:</h5>
            </div>
            <div class="col-6">
              <p class="text-card d-flex justify-content-end">{{ city.wind }} m/s</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <a href="#" class="btn btn-outline-primary w-100" @click="getForecast(city.name)">Ver pronostico</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6 mb-3 mt-3">
      <h5 class="text-center">
        Pronostico de los siguientes días
      </h5>

      <template v-if="forecasts.length == 0">
        <div class="border d-flex align-items-center justify-content-center h-100 mb-3 mt-3">
          {{ ! wait ? "Cliquea sobre una tarjeta para ver el pronostico." : "" }}
          <div v-if="wait" class="text-center">
            <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </template>

      <div class="card mt-3" v-else v-for="forecast in forecasts">
        <template v-for="(day, key) in forecast">
          <div class="card-header bg-dark text-white">
            {{ key }}
          </div>

          <template v-for="(data, indx) in day">
            <!-- <p v-if="indx == 0"> {{ data.month_day }} </p> -->
            <ul class="list-group list-group-flush">
              <li class="list-group-item bg-light">Hora: {{ data.hour.replace(/:00$/, "") }} </li>
              <li class="list-group-item">Humedad: {{ data.humity }} %</li>
              <li class="list-group-item">Temperatura: {{ data.temp }} °C</li>
              <li class="list-group-item">Viento: {{ data.wind }} m/s </li>
            </ul>
          </template>
        </template>
      </div>
    </div>
  </div>
</div>

<script>
  const API_URL="<%= Routes.page_path(@conn, :get_data_cities) %>";

   new Vue({
    el: '#vue-app',
    data: {
      cities: [],
      forecasts: [],
      wait: false
    },
    created: async function() {
      let res;

      try {
        res = await axios.get(API_URL, {
          params: {
            data: "weather"
          }
        });

        if (res.status === 200) {
          this.cities = res.data.cities;
          console.log(res);
        } else
          console.log(res);
      } catch(err) {
        console.error(err)
      }
    },
    methods: {
      getForecast: async function(city) {
        let res;

        this.wait = true;

        try {
          res = await axios.get(API_URL, {
            params: {
              data: "forecast",
              city: city
            }
          });

          if (res.status === 200) {
            this.forecasts = res.data.days;
            this.wait = false;
            console.log(res.data.days);
          } else {
            console.log(res);
          }
        } catch(err) {
          console.error(err)
        }
      }
    }
   });
</script>
